.spoljasnji{
  width: 700px;
  height: 200px;
  border: 1px solid #000;
  margin: 5px 0;
  overflow: auto;
}

.unutrasnjost{
  padding: 5px;
}

body{
  background-color: lightsteelblue;
}

p{
  padding: 0.5px;
  margin: 0;
}